.App {
  text-align: center;
  background-color: blue;
}

.Text{
  display: inline;  
  color: blue;
}
.card-container{
  display: flex;
  flex-wrap: wrap;
  gap : 1rem;
  margin: 27px;
  justify-content: center;
}
.gr{
  color: gray;
}
.cart{
  display: flex;
  justify-content: end;
  margin: 15px;
  font-size: larger;
  /* position: absolute; */
}
.img{
  width: 250px;
  height: 200px;
  align-items: center;
}
.Sale{
  display: flex;
  justify-content: end;
  margin: 15px;
  font-size: larger;
  background-color: black;
  width: fit-content;
  color: antiquewhite;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
}
.hov{
  border: 1px solid black;
  /* padding: 1; */
}
.hov:hover{

  box-shadow: 5px 5px skyblue;
}
